<div class="modal-header">
    <h4 class="modal-title pull-left">
        <i class="fa fa-key"></i> เปลี่ยนรหัสผ่าน
    </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form [formGroup]="form" (submit)="onSubmit()">
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class="form-group">
                    <label for="">รหัสผ่านเดิม</label>
                    <input formControlName="old_pass" type="password" class="form-control" placeholder="กรุณากรอกข้อมูล">
                </div>

                <div class="form-group">
                    <label for="">รหัสผ่านใหม่</label>
                    <input formControlName="new_pass"  type="password" class="form-control" placeholder="กรุณากรอกข้อมูล">
                </div>

                <div class="form-group">
                    <label for="">ยืนยันรหัสผ่านใหม่</label>
                    <input formControlName="cnew_pass"  type="password" class="form-control" placeholder="กรุณากรอกข้อมูล">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
            เปลี่ยนรหัสผ่าน
        </button>
    </div>
</form>